Lab Objective:
In this lab, You will demonstrate how to create a  Panda Dataframe. By the end of this lab, you will be able to create and declare the Panda Dataframe.

Instructions
You can start by importing pandas along with NumPy, which you’ll use throughout the following examples:
import numpy as np
import pandas as pd


That’s it. Now you’re ready to create some DataFrames.

Example 1: Creating a pandas DataFrame With Dictionaries
We can create a pandas DataFrame with a Python dictionary:

In [2]:
import numpy as np
import pandas as pd

In [12]:
d = {'x': [1, 2, 3], 'y': np.array([2, 4, 8]), 'z': 100}
pd.DataFrame(d)
#print(np.isscalar(d['y']))

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

That’s it. Now you’re ready to create some DataFrames.

Example 1: Creating a pandas DataFrame With Dictionaries
We can create a pandas DataFrame with a Python dictionary:

In [14]:
d = {'x': [1, 2, 3], 'y': np.array([2, 4, 8]), 'z': 100}
pd.DataFrame(d)

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

It’s possible to control the order of the columns with the columns parameter and the row labels with index as shown in the below example

In [15]:
pd.DataFrame(d, index=[100, 200, 300], columns=['z', 'y', 'x'])

       z  y  x
100  100  2  1
200  100  4  2
300  100  8  3

The keys of the dictionary are the DataFrame’s column labels, and the dictionary values are the data values in the corresponding DataFrame columns. The values can be contained in a tuple, list, one-dimensional NumPy array, pandas Series object, or one of several other data types. You can also provide a single value that will be copied along the entire column.

Example 2: Creating a pandas DataFrame With Lists
Another way to create a pandas DataFrame is to use a list of dictionaries:

In [5]:
l = [{'x': 1, 'y': 2, 'z': 100},
     {'x': 2, 'y': 4, 'z': 100},
     {'x': 3, 'y': 8, 'z': 100}]

pd.DataFrame(l)

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100


Again, the dictionary keys are the column labels, and the dictionary values are the data values in the DataFrame.

You can also use a nested list, or a list of lists, as the data values. If you do, then it’s wise to explicitly specify the labels of columns, rows, or both when you create the DataFrame.

In [16]:
l = [[1, 2, 100],
     [2, 4, 100],
     [3, 8, 100]]

pd.DataFrame(l, columns=['x', 'y', 'z'])

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

That’s how you can use a nested list to create a pandas DataFrame. You can also use a list of tuples in the same way. To do so, just replace the nested lists in the example above with tuples.

Example 3: Creating a pandas DataFrame With NumPy Arrays
You can pass a two-dimensional NumPy array to the DataFrame constructor the same way you do with a list:

In [28]:
arr = np.array([[1, 2, 100],[2, 4, 100],[3, 8, 100]])
#print(arr)
df = pd.DataFrame(arr, columns=['x', 'y', 'z'])
df

   x  y    z
0  1  2  100
1  2  4  100
2  3  8  100

Although this example looks almost the same as the nested list implementation above, it has one advantage: You can specify the optional parameter copy.

When a copy is set to False (its default setting), the data from the NumPy array isn’t copied. This means that the original data from the array is assigned to the pandas DataFrame. If you modify the array, then your DataFrame will change too:

In [25]:
arr[0,0] = 1000
#arr[2,2] = 200
df

      x  y    z
0  1000  2  100
1     2  4  100
2     3  8  200

As you can see, when you change the first item of arr, you also modify df.

Note: Not copying data values can save you a significant amount of time and processing power when working with large datasets.


If this behavior isn’t what you want, then you should specify copy=True in the DataFrame constructor. That way, df will be created with a copy of the values from arr instead of the actual values.